@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


#scrollToTopBtn {
    display: none;
    /* Disembunyikan secara default */
    position: fixed;
    /* Posisi tetap di kanan bawah */
    bottom: 50px;
    /* Jarak dari bawah */
    right: 50px;
    /* Jarak dari kanan */
    z-index: 99;
    /* Pastikan tombol berada di atas konten lainnya */
    font-size: 18px;
    /* Ukuran font */
    border: none;
    /* Tanpa border */
    outline: none;
    /* Tanpa outline */
    background-color: #007bff;
    /* Warna background */
    color: white;
    /* Warna teks */
    cursor: pointer;
    /* Mengubah kursor menjadi pointer */
    padding: 10px 15px;
    /* Padding */
    border-radius: 50%;
    /* Membuat tombol bulat */
    transition: opacity 0.3s;
    /* Transisi untuk efek kemunculan */
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
    /* Warna background saat hover */
}


#hero {
    margin: 0;
    padding: 0;
}

#hero .container-fluid {
    position: relative;
    /* background: linear-gradient(135deg, rgba(46, 139, 87, 0.8), rgba(60, 179, 113, 0.8)); */
    /* Gradient overlay */
    padding: 20px;
    /* border-radius: 0 0 50px 390px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#hero .container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/hero/BG\ HERO.png');
    /* Replace with your image path */
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
    /* Ensures the pseudo-element is behind the content */
}

#hero .navbar {
    padding: 10px 20px 10px 20px;
}

#hero .navbar .navbar-brand span {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    line-height: 22.5px;
    text-align: left;
    margin-left: 10px;
    color: #000000;
}

#hero .navbar .collapse .navbar-nav {
    padding: 1rem;
}


#hero .navbar .collapse .nav-link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;
}

#hero .navbar .collapse .nav-link {
    margin-right: 20px;
    color: rgb(0, 0, 0);
}

#hero .navbar .navbar-brand {
    display: flex;
    align-items: center;
}

#hero .banner {
    padding: 100px 0 100px 0;
}

#hero .title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 67.5px;
    font-style: normal;
}

#hero .title .title-welcome {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 37.5px;
    font-style: normal;
}

#hero .title .title-AlmaAta {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    font-style: normal;
}

#hero .btn-banner {
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    background-color: #668992;
}

#tentang-kami {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
}

#tentang-kami::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/tentangKami/BG_TENTANG_KAMI.png') no-repeat center center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.container-fluid.tentang {
    position: relative;
    z-index: 1;
}


#hero .btn-banner a {
    text-decoration: none;
    color: #fff;
}

#tentang-kami .btn-group a {
    background-color: #668992;
}

#tentang-kami .container-fluid {
    padding: 20px;
}

#tentang-kami .tentang, #program .Kerja {
    padding: 100px 0 100px 0;
}

#tentang-kami .tentang h1, #program .Kerja h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    color: #005077;
}

#tentang-kami .tentang .image-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tentang-kami .tentang .title-box {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

#tentang-kami .tentang .describe {
    margin-top: 100px;
}

#tentang-kami .tentang .visimisi {
    margin-top: 100px;
}

#tentang-kami .tentang .card,
#program .Kerja .card {
    background-image: url(../assets/almaata.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

#tentang-kami .tentang .card:hover,
#program .Kerja .card:hover {
    opacity: 0.5;
}

#tentang-kami .tentang .card .card-text,
#program .Kerja .card .card-text {
    color: #fff;
}

#tentang-kami .tentang .card-body,
#program .Kerja .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tentang-kami .tentang .card-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 70px;
    font-style: normal;
}

/* #pengurusInti {
    background: linear-gradient(300deg, #2E8B57 -56.86%, #EEF1F2 100%);
} */

#pengurusInti {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    /* Background semi-transparan */
}

#pengurusInti::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/strukturOrganisasi/BG_STRUKTUR_ORGANISASI.png') no-repeat center center;
    background-size: cover;
    filter: blur(2px);
    /* Mengatur tingkat blur */
    z-index: -1;
}

.container.pengurus {
    position: relative;
    z-index: 1;
}

#pengurusInti .pengurus {
    padding: 100px 0 100px 0;
}

#pengurusInti .pengurus .slide {
    margin-top: 100px;
}

#program .Kerja .card-text {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
}

#program .Kerja .card-text span {
    display: block;
}

#program .Kerja .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

#program .Kerja .modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#program .Kerja .modal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#program .Kerja .modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#program .Kerja .modal .close:hover, #program .Kerja .modal #caption:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#divisi .container {
    padding: 100px 0 100px 0;
}

#divisi .container figcaption {
    margin: -50px 10px 0 10px;
    /* padding: 0 30px 0 30px; */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    /* background-color: #668992; */
    width: 100%;
}

#divisi .container figcaption span {
    font-weight: 400;
    font-size: 35px;
}

footer {
    padding: 100px 0 50px 0;
}

footer img {
    width: 109px;
    height: 99px;
    top: 31px;
    left: 463px;
    gap: 0px;
    opacity: 0px;
}

footer .icon .bi {
    margin-left: 10px;
    font-size: 35px;
}

footer .row .title h2 {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
}

footer .row .logo .icon a,
footer .row .title a {
    text-decoration: none;
    color: black;
    opacity: 0.8;
}